{% extends 'base.html.twig' %}

{% block content %}
    <h1>Archiv</h1>
    {% for post in posts %}
        <p>{{ post.date|date('d.m.Y') }} – <a href="{{ baseUrl }}{{ post.filename }}">{{ post.title }}</a></p>
    {% endfor %}
{% endblock %}